/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/*Back*/
html {
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25%;
}

.main-title {
  font-size: 300%;
}

.slogan {
  font-size: 100%;
  color: #ffd700;
}

.nav-decoration {
  box-shadow: white 0 4px 6px -2px;
  font-size: 100%;
}

/*Movies*/
.movie {
  width: 13rem;
  margin-bottom: 2%;
}

img {
  height: 18rem;
}

.movie-title {
  font-size: 130%;
}

.release-date {
  background-color: white;
  color: black;
  margin-bottom: auto;
  font-weight: bolder;
}

/*Forms*/
.input-decoration {
  background-color: black !important;
  color: white;
}

.input-decoration:focus {
  outline: none;
  background-color: black !important;
  color: white !important;
  box-shadow: white;
}

.pass-remind {
  text-decoration: none;
  color: white;
  font-size: small;
}

.pass-remind:hover {
  text-decoration: none;
  color: #656565;
}

/*Button*/
.btn-decoration {
  background-color: #d30202;
  border: #d30202 solid 1px;
  color: white;
  transition: all 0.5s ease;
}

.btn-decoration:hover {
  background-color: #850000;
  border: #850000 solid 1px;
  color: white;
}

/*Candybar*/
.candy-shop-grid-area {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 1rem;
  grid-template-areas: "candy-shop-title candy-shop-title candy-shop-title" "container-candys container-candys container-ticket";
}

.candy-shop-title {
  grid-area: candy-shop-title;
}

.container-candys {
  grid-area: container-candys;
}

.art-candy {
  font-size: 1rem;
  border: black solid 1px;
}

.img-candy {
  width: 15rem;
  height: 8rem;
}

.candy-title {
  color: white;
  font-size: 1.3rem;
  background-color: transparent;
}

.candy-btn {
  width: 100%;
  height: 100%;
}

/*Ticket*/
.container-ticket {
  grid-area: container-ticket;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket {
  width: 100%;
  height: 7%;
}

.blank-ticket {
  background-color: white;
  min-height: 10rem;
  width: 100%;
}

.ticket-title {
  font-size: 2rem;
  background-color: white;
  color: black;
  width: 100%;
  margin-bottom: 0%;
  padding-bottom: 2%;
  text-align: center;
  border-bottom: #656565 dotted 2px;
}

/*Wapp*/
.wapp-item {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  box-shadow: 2px 2px 3px #656565;
  z-index: 100;
  transition: all 0.5s ease;
  animation: bounce 5s infinite ease-in-out;
}

.my-wapp-item {
  margin-top: 1rem;
  background-color: #25d366;
  transition: all 0.5s ease;
}

.my-wapp-item:hover {
  background-color: #1d9b4a;
}

.wapp-item:hover {
  background-color: #1d9b4a;
}

footer {
  box-shadow: white 4px -2px 6px -1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.social-media-footer {
  padding: 2%;
}

.social-media-title {
  font-size: 120%;
}

.social-media-container {
  display: flex;
  flex-direction: column;
}

.social-media-item {
  margin-bottom: 1.5%;
  font-size: 70%;
}

.social-media-text {
  color: #656565;
  margin-left: 1%;
}

/*Media Query*/
@media (max-width: 767.98px) {
  .ticket-title {
    font-size: 1.5rem;
  }
  .ticket {
    height: 5%;
  }
}
@media (max-width: 575.98px) {
  .candy-shop-grid-area {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 1rem;
    grid-template-areas: "candy-shop-title candy-shop-title candy-shop-title" "container-candys container-candys container-candys" ". container-ticket .";
  }
  .candy-footer {
    display: none;
  }
  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-media-item {
    font-size: 60%;
    width: 33%;
    text-align: center;
  }
  .social-media-text {
    margin-left: 3%;
  }
  .social-media-title {
    text-align: center;
    margin-bottom: 3%;
  }
  .wapp-item {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  .my-wapp-item {
    margin-top: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
