footer {
    box-shadow: $light-color 4px -2px 6px -1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.social-media-footer {
    padding: 2%;
}

.social-media-title {
    font-size: 120%;
}

.social-media-container {
    display: flex;
    flex-direction: column;
}

.social-media-item {
    margin-bottom: 1.5%;
    font-size: 70%;
}

.social-media-text {
    color: $secondary-color;
    margin-left: 1%;
}