footer {
  box-shadow: $light-color 5px -3px 5px -1px;
  bottom: 0;
  width: 100%;
  height: 20%;
  position: absolute;
}

.social-media-container {
  display: flex;
  flex-direction: column;
}

.social-media-title {
  font-size: 120%;
  margin-bottom: 3%;
}

.social-media-footer {
  flex-direction: row;
  padding: 2%;
}

.social-media-item {
  margin-bottom: 1.5%;
  font-size: 70%;
}

.social-media-text {
  color: $secondary-color;
  margin-left: 1%;
}

.news-letter-conteiner {
  display: flex;
  flex-direction: column;
}

.news-letter-title {
  font-size: 120%;
}

.news-letter-description {
  color: $secondary-color;
}