/*Media Query*/
@media (max-width: 767.98px) {
    .ticket-title {
        font-size: 1.5rem;
    }

    .ticket {
        height: 5%;
    }
}

@media (max-width: 575.98px) {
    .candy-shop-grid-area {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 1rem;
        grid-template-areas:
            "candy-shop-title candy-shop-title candy-shop-title"
            "container-candys container-candys container-candys"
            ". container-ticket ."
    }

    .candy-footer {
        display: none;
    }

    .social-media-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .social-media-item {
        font-size: 60%;
        width: 33%;
        text-align: center;
    }

    .social-media-text {
        margin-left: 3%;
    }

    .social-media-title {
        text-align: center;
        margin-bottom: 3%;
    }

    .wapp-item {
        @include size(3rem,3rem);
        font-size: 1.5rem;
    }

    .my-wapp-item {
        margin-top: 0.8rem;
    }
}