@import "utilities/variables";

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $dark-color;
}

/*Back*/
html {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

body {
    background-color: $dark-color;
    color: $light-color;
    font-family: "Poppins", sans-serif;
    margin-bottom: 25%;
}


// Partials
@import "header";
@import "main";
@import "footer";
@import "mediaquery";


